//
//font varibales
//
$font_1_LTR:"Nunito";
$font_2_LTR:"Montserrat";

$font_1_RTL:"cairo";
$font_2_RTL:"cairo";

$fontMain:'';

$main-clr: '';
$accent-clr: '';



//colors varibales
$white-clr: #fff;
$black-clr: #121212;
$grey-clr: #f1f1f1;
$semi-dark-clr: #b8b8b8;
$dark-grey-clr: #4d4d4d;
$extra-dark-grey-clr: #202020;


$dark-blue-clr:#060922;
$semi-dark-blue-clr: #0a0d26;
$semi-dark-blue-clr: #000531;


$danger-clr: #fc0000;
$success-clr: #217234;
$warning-clr: #9b6a01;


$main-clr: #0caf86;
$accent-clr: #00ffd5;


// customized colors
$main-clr: #3897F5;
$secondary-clr: #fdb038;
$accent-clr: #0d1857;
$dark-blue-clr:#0152A0;
$semi-dark-blue-clr: #0152A0;