        .breadcrumb {
          display: flex;
          align-items: center;
          justify-content: center;
          background: transparent;
          margin: 0;
          padding: 0;


          .icon {
            margin-#{$end-direction}: .5rem;
          }

          &-item {
            text-transform: capitalize;
            font-size: 1rem;
            font-weight: 600;

            @include screen-lg {
              font-size: 1rem;
            }

            &:before {
              /*Breadcrumb Separator Color*/
              color: $white-clr;
              padding-#{$end-direction}: .5rem;

            }
          }

          &-link {
            color: rgba($white-clr, 1);
            text-decoration: none;
            @include ma-transition(color, .25s, ease-in, 0s);

            &:hover {
              color: $main-clr;
            }
          }

          &.shop-breadcrumb {
            justify-content: flex-start;
            margin-bottom: 1rem;

            .breadcrumb-item {
              color: $main-clr;

              &:before {
                /*Breadcrumb Separator Color*/
                color: $main-clr;
              }

              &.active {
                opacity: .65;
              }
            }

            .breadcrumb-link {
              color: $main-clr;
            }
          }

        }