.about {
	.content-block {
		&:not(:last-child) {
			margin-bottom: 1rem;
		}

		&.wide-section {
			margin-bottom: 0 !important;
			// background-color: $semi-dark-blue-clr;


			.text-area {

				// margin: 0 3rem;
				padding: 10rem 4rem;

				@media (min-width:1920px) {
					max-width: 950px;
					margin: 0 auto;
				}

				@include screen-md {
					margin: 0 auto;
					padding: 5rem 3rem;
				}
			}

			.wide-img-area {

				@include screen-md {
					max-height: 500px;
				}

				.overlay-color.customized {
					opacity: .25;
				}
			}
		}

		.pad-start {
			.text-area {
				padding-#{$start-direction}: 2rem;

				@include screen-md {
					padding-#{$start-direction}: 0;
				}
			}


		}

		.pad-end {
			.text-area {
				padding-#{$end-direction}: 2rem;

				@include screen-md {
					padding-#{$end-direction}: 0;
				}
			}

		}



	}


	.about-col,
	.img-area {
		position: relative;

		.photo-banner-start,
		.photo-banner-end {

			position: absolute;
			min-width: 100px;
			min-height: 250px;
			background-color: $main-clr;
			color: $white-clr;
			padding: 1rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			z-index: 3;
			top: -2rem;
			bottom: auto;

			.number {
				position: relative;
				font-size: 6rem;
				font-weight: 900;
				line-height: 1;

				@include screen-sm {
					font-size: 4rem;
					font-weight: 700;
				}
			}

			.banner-text {
				position: relative;
				font-size: 1.25rem;
				font-weight: 500;
				text-transform: capitalize;
				margin: 0;

				@include screen-sm {
					font-size: 1rem;
				}
			}

			.banner-icon {
				position: absolute;
				top: .75rem;
				#{$start-direction}: .75rem;
				font-size: 4rem;
				color: $white-clr;
				opacity: .5;
				z-index: -1;

				@include screen-sm {
					font-size: 2.5rem;
				}
			}

			@include screen-sm {
				top: -1.5rem !important;
				bottom: auto !important;
				#{$start-direction}: auto !important;
				#{$end-direction}: -1.5rem !important;
				min-height: 180px;
			}

			@include screen-xs {
				top: 0rem !important;
				bottom: auto !important;
				#{$start-direction}: auto !important;
				#{$end-direction}: 0rem !important;
			}

		}

		.photo-banner-start {
			#{$start-direction}: -2rem;
			#{$end-direction}: auto;
		}

		.photo-banner-end {
			#{$start-direction}: auto;
			#{$end-direction}: -2rem;
		}


		.video-wrapper {
			&.on-start {
				#{$start-direction}: 0;
				#{$end-direction}: auto;
				transform: translate(-50% * $x-axe-direction, -50%);

				@include screen-md {

					#{$start-direction}: 50%;
					#{$end-direction}: auto;
					transform: translate(-50% * $x-axe-direction, -50%);
				}
			}

			&.on-end {
				#{$end-direction}: 0;
				#{$start-direction}: auto;
				transform: translate(50%, -50%);

				@include screen-md {

					#{$start-direction}: 50%;
					#{$end-direction}: auto;
					transform: translate(-50%, -50%);
				}
			}



			display: inline-block;
			position: absolute;
			top: 50%;
			#{$start-direction}: 50%;
			#{$end-direction}: auto;
			transform: translate(-50%, -50%);
			z-index: 10;

			@include screen-md {
				top: 100%;
				#{$start-direction}: 50%;
				#{$end-direction}: auto;
			}
		}
	}

	.img-area {

		padding: 0;

		&.framed {

			&::before,
			&::after {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				background: transparent;
				border: 2px solid $white-clr;
				z-index: 5;

			}

			&::before {
				border-right: none;
				border-bottom: none;
				top: 30px;
				left: 30px;

			}

			&::after {
				border-left: none;
				border-top: none;
				bottom: 30px;
				right: 30px;

			}
		}



		.overlay-color {
			opacity: .5;
			z-index: 1;

			&.customized {
				opacity: .1;
			}
		}

		@include screen-md {
			padding: 0;
			width: 100%;

			.about-img {
				max-height: 350px;
				width: 100%;
				object-fit: cover;
			}
		}
	}

	.wide-img-area {
		position: absolute;
		width: 100%;
		height: 100%;
		max-height: 100%;
		#{$end-direction}: 0;
		top: 0;
		overflow: hidden;
		z-index: 0;

		.overlay-color {
			opacity: .5;
			z-index: 1;
		}


		&>img {
			width: 100%;
			max-width: 100%;
			height: auto;
			min-height: 100%;
			transform-origin: center;
			object-fit: cover;
			@include ma-transition();


		}


		@include screen-md {

			position: relative;
			width: 100%;
			max-height: 360px;

		}
	}



	.text-area {
		position: relative;
		padding: 3rem 0;


		.sec-heading {
			margin-bottom: 1.5rem;
		}

		// .about-title {
		// 	font-size: 2.25rem;
		// 	font-weight: 800;
		// 	text-transform: capitalize;
		// 	margin-bottom: 1.25rem;
		// 	color: $semi-dark-blue-clr;

		// 	@include screen-sm {
		// 		font-size: 2rem;
		// 		margin-bottom: .75rem;
		// 	}
		// }



		.about-text {
			font-weight: 400;
			font-size: 1.1rem;
			line-height: 1.7;
			margin-bottom: 2rem;
			opacity: .75;
			letter-spacing: .5px;

			&::first-letter {
				text-transform: capitalize;
			}
		}

		.info-items-list {

			.menu-items {
				margin: 0;
				padding: 2rem 0;
				list-style: none;
			}

			.info-item {
				margin-bottom: 1.25rem;
				display: flex;
				align-items: start;
				justify-content: start;

				@include screen-sm {
					flex-direction: column;

				}


				&:hover {

					.info-icon,
					.info-img-icon {
						transform: translateY(-5px);
					}
				}
			}

			.info-content {
				padding-#{$end-direction}: 3rem
			}

			.info-title {
				margin-bottom: .75rem;
				opacity: .95;
				font-weight: 600;
				font-size: 1.5rem;
				text-transform: capitalize;
			}

			.info-text {
				font-size: 1rem;
				font-weight: 400;
				opacity: .75;
			}

			.info-icon {
				display: flex;
				margin-#{$end-direction}: 1rem;
				margin-bottom: 1rem;
				color: $secondary-clr;
				font-size: 3rem;
				@include ma-transition(transform, .3s)
			}

			.info-img-icon {
				margin-#{$end-direction}: 1.5rem;
				margin-bottom: 1.5rem;
				width: 60px;
				height: 60px;
				@include ma-transition(transform, .3s)
			}





		}

		.about-stats {
			margin-bottom: 2rem;

			&.stats-cards {
				.stat-box {
					position: relative;
					text-align: center;
					padding: 1.5rem .5rem;
					margin-bottom: 0;
					margin-bottom: 2rem;
					border: 1px solid rgba($secondary-clr, .35);
					border-bottom: .25rem solid rgba($secondary-clr, 1);
					@include ma-box-shadow(1, 1, 10, 0, rgba($dark-blue-clr, .1));

					.stat-icon {
						position: absolute;
						top: .5rem;
						#{$start-direction}: .5rem;
						font-size: 4rem;
						color: rgba($secondary-clr, .35);

						@include screen-xs {
							font-size: 2.5rem;

						}
					}

				}


			}

			.stat-box {
				text-align: center;
				padding: 1.5rem .5rem;
				margin-bottom: 0;


				.stat-num {
					opacity: .95;
					font-size: 3rem;
					font-weight: 700;
					margin-bottom: .25rem;
					display: inline-block;
					position: relative;

					.sign {
						font-size: 2.5rem;
						font-weight: 600;
						position: absolute;
						#{$start-direction}: 0;
						top: 50%;
						transform: translate(-100% *$x-axe-direction, -50%);
					}

				}

				.stat-desc {
					font-size: .95rem;
					font-weight: 700;
					line-height: 1.2;
					opacity: .75;
					text-transform: capitalize;

					@include screen-xs {
						font-size: .75rem;
						font-weight: 600;
					}
				}

				@include screen-md {

					.stat-num {
						font-size: 2rem;
						font-weight: 700;

						.sign {
							font-size: 1.25rem;
						}
					}


				}

			}

		}





		.cta-area {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.signature {
				display: flex;
				flex-direction: column;
				align-items: center;


				.signature-img {
					max-width: 200px;
					width: 200px;
					height: 70px;
					background-image: url('../../../assets/images/about/Signature-dark.png');
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;

					@include screen-xs {
						max-width: 150px;
						max-height: 50px;
					}
				}

				.signature-name {
					display: block;
					color: $main-clr;
					margin-top: -.5rem;
					text-transform: capitalize;

					@include screen-xs {
						font-size: .85rem;
					}
				}
			}
		}





	}




	&.has-dark-bg {
		background-color: $semi-dark-blue-clr;

		.text-area {

			.section-title,
			.about-title,
			.init-text,
			.about-text,
			.info-items-list .info-title,
			.info-items-list .info-text,
			.about-stats .stat-box .stat-num,
			.about-stats .stat-box .stat-desc {
				color: $white-clr;
			}

			.cta-area .signature .signature-img {
				background-image: url('../../../assets/images/about/Signature-light.png');

			}










		}


	}













}