.our-video {

    position: relative;
    z-index: 1;
    overflow: hidden;

    .section-heading {
        margin-bottom: 2rem;

        .section-title {
            color: $white-clr !important;

        }

        .section-subtitle {
            color: $white-clr;
        }

        .line {
            background: $white-clr;
        }
    }

    .play-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5rem 0;
    }




}