.page-footer {
  padding-top: 4rem;
  position: relative;
  z-index: 0;

  &.customized {
    .footer-logo{
      max-width: 12rem;
    }

    .contact-info-card {    
      .icon {
        color: $white-clr;
      }
    }
  }
}

.footer-cols {
  overflow: hidden;
  margin-bottom: 2rem;
}


.footer-col {
  margin-bottom: 1.5rem;
}

.footer-col-title {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 1.5rem;

  color: $semi-dark-blue-clr;

}

.footer-logo {
  margin-bottom: 1.5rem;
  max-width: 30%;
}

.footer-text-about-us {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.75;
  padding-#{$end-direction}: 1rem;
  margin-bottom: 1.5rem;
  color: ($dark-grey-clr);
}

.sc-wrapper {
  padding: 0;

}

.contact-info-card {
  font-weight: 600;
  padding: 0;
  padding-bottom: 1rem;
  border-radius: .5rem;
  @include ma-transition(all, .3s);

  &:last-of-type {
    padding-bottom: 0;
  }

  .icon {
    font-size: 1.5rem;
    width: 1.5rem;
    text-align: center;
    margin-#{$end-direction}: .5rem;
    vertical-align: middle;
    color: $main-clr;

  }

  .info {
    text-decoration: none;
    font-size: .85rem;
    font-weight: 500;
    color: ($dark-grey-clr);
    display: inline-block;
    @include ma-transition(all, .25s);

    &:hover {
      color: $main-clr;
      transform: translateX(.25rem * $x-axe-direction)
    }


  }

}

.footer-menu {
  list-style: none;
  padding: 0;
  margin: 0;

  &-item {
    display: block;
    position: relative;
    padding-bottom: 1rem;

    .icon {
      font-size: .75rem;
      width: 1.5rem;
      text-align: #{$end-direction};
      margin-#{$end-direction}: .5rem;
      vertical-align: middle;
      color: $main-clr;

    }
  }


  &-link {
    font-weight: 500;
    font-size: .85rem;
    text-decoration: none;
    text-transform: capitalize;
    text-decoration: none;
    color: $semi-dark-clr;
    display: inline-block;
    @include ma-transition(all, .25s);

    &:hover {
      color: $main-clr;
      text-decoration: none;
      transform: translateX(.25rem * $x-axe-direction)
    }
  }




}

.copyrights {
  padding: .5rem 0;
  overflow: hidden;


  .creadits {
    text-align:#{$start-direction};
    font-weight: 600;
    margin: 0;
    font-size: .85rem;
    color: ($dark-grey-clr);

    .link {
      font-weight: 600;
      color: $main-clr;
      text-decoration: none;
    }
  }

  .terms-links {
    text-align:#{$end-direction};

    &>a {
      text-decoration: none !important;
      font-weight: 600;
      @include ma-transition();
      color: ($dark-grey-clr);
      text-decoration: none;

    }


  }
}












.dark-color-footer {
  background-color: $dark-blue-clr;




  .sc-wrapper .sc-list .sc-item:hover .sc-icon,
  .terms-links,
  .copyrights .creadits .link {
    color: $main-clr;
  }


  .footer-col-title {
    color: $secondary-clr;
  }

  .footer-text-about-us,
  .contact-info-card .info,
  .contact-info-card .info:hover,
  .footer-menu .footer-menu-link,
  .copyrights .creadits,
  .terms-links>a {

    color: $grey-clr;
  }

  .contact-info-card .info:hover,
  .footer-menu .footer-menu-link:hover,

  .copyrights .creadits .link {
    color: $white-clr;
  }
}



.light-color-footer {
  background-color: $grey-clr;

  .footer-col-title,
  .footer-menu-item .icon,
  .contact-info-card .icon,
  .terms-links,

  .copyrights .creadits .link,
  .sc-wrapper .sc-list .sc-item:hover .sc-icon {
    color: $main-clr;
  }

  .footer-text-about-us,
  .contact-info-card .info,
  .footer-menu .footer-menu-link,
  .copyrights .creadits,
  .terms-links>a {

    color: $dark-grey-clr;
  }

  .contact-info-card .info:hover,
  .footer-menu .footer-menu-link:hover,
  .terms-links>a:hover {
    color: $semi-dark-blue-clr;
  }
}

.main-color-footer {
  background-color: $main-clr;
  border-top: 2px solid $white-clr;

  .copyrights {
    border-color: $grey-clr;
  }

  .sc-wrapper .sc-list .sc-item:hover .sc-icon {
    color: $main-clr;
  }

  .footer-menu-item .icon,
  .contact-info-card .icon,
  .terms-links,
  .copyrights .creadits .link {
    color: $grey-clr;
  }

  .footer-col-title,
  .footer-text-about-us,
  .contact-info-card .info,
  .footer-menu .footer-menu-link,
  .copyrights .creadits,
  .terms-links>a {

    color: $grey-clr;
  }

  .contact-info-card .info:hover,
  .footer-menu .footer-menu-link:hover,
  .terms-links>a:hover {
    color: $white-clr;
  }
}




.index-page-footer {
  padding: 20px 0;
  text-align: center;
  border-top: 2px solid rgba($main-clr, .5);

  .footer-brand {
    text-decoration: none;
    display: inline-block;
    padding-bottom: 1rem;
    width: auto;

    img {
      width: 120px;
    }
  }

  .copyrights {

    display: block;
    text-align: center;
    color: $main-clr;


    font: {
      size: .8rem;
      weight: 500;
    }

    margin: 0;
  }
}

