%hero-title-rules {
    font-weight: 900;
    font-size: 5rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
    color: $white-clr;
    line-height: 1.2;
    // overflow: hidden;

    .first-word {
        position: relative;
    }

    @include screen-lg {
        font-size: 3rem !important;
    }

    @include screen-xs {
        font-size: 2rem !important;
        font-weight: 700 !important;
    }



}

%hero-subtitle-rules {

    color: $grey-clr;
    font-size: 1.35rem;
    font-weight: 400;
    margin-bottom: 2rem;
    line-height: 1.7;


    @include screen-md {
        font-size: 1rem;
    }




    @media (max-height:500px) {
        display: none;
    }


}


.hero-social-icons {
    position: absolute;
    z-index: 900;
    @include ma-transition();

    &.start-align {
        #{$start-direction}: 3rem;
        #{$end-direction}: auto;

    }

    &.center-align {
        width: 100%;
        text-align: center;

    }

    &.end-align {
        #{$end-direction}: 3rem;
        #{$start-direction}: auto;
    }



    &.center-position {
        top: 50%;
        transform: translateY(-50%);
    }

    &.bottom-position {
        bottom: 4rem;
        top: auto;
    }

    .dir-row {
        .sc-list .sc-item:not(:last-child) {
            margin-#{$end-direction}: 2rem;
        }

        .sc-list .sc-item {

            .sc-icon {
                color: $white-clr;
            }

        }
    }

    .dir-col {
        .sc-list .sc-item:not(:last-child) {
            margin-bottom: 2rem;

        }

        .sc-list .sc-item {

            .sc-icon {
                color: $white-clr;
            }

        }
    }

    @include screen-md {
        display: none;
    }

    @media (max-height:500px) {
        display: none;

    }

}



.page-hero {
    position: relative;
    z-index: 0;
    min-height: 100vh;
    padding: 120px 0;
    background: $main-clr; //gradients fallback for old browsers 

    @include screen-md {
        height: auto;
        min-height: 100vh;
    }

    @media (max-height:600px) {
        height: auto;
    }


    .overlay-color {
        opacity: .75 !important;
    }

    .hero-text-area {
        padding-top: 4rem;

        .hero-title {
            @extend %hero-title-rules;
        }

        .hero-subtitle {
            @extend %hero-subtitle-rules;
        }



        .hero-title {
            display: inline-block;
            position: relative;
            z-index: 0;

            .heading-brand-name {
                position: relative;
                display: inline-block;
                line-height: 1;
            }

            .featured-text {
                font-weight: 900;

            }

        }

    }


    .cta-links-area {
        display: inline-flex;
        flex-direction: row;
        align-items: center;

        .cta-link {
            margin-bottom: 0;
            margin-#{$end-direction}: 1.5rem;
            font-size: 1.15rem;
            min-width: 180px;

            @include screen-md {
                font-size: 1rem;
                padding: .75rem 1.5rem;
                min-width: auto;
            }


            &:last-child {
                margin-#{$end-direction}: 0;
            }


            // &-primary {
            //     background: $main-clr;
            //     color: $white-clr;
            //     border-color: $main-clr;

            //     &:hover {
            //         background: transparent;
            //         color: $white-clr;
            //         border-color: $white-clr;
            //     }

            // }
        }
    }

}

// Start vegas Slider version only rules 

.hero-vegas-slider {
    position: relative;
    height: 100vh;

    .overlay-color {

        z-index: 0 !important;

    }

    .vegas-slider-content {
        position: absolute;
        width: 100%;
        height: auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }



}





.hero-swiper-slider {
    padding: 0;
    background: $dark-blue-clr;

    // to make sure the first letter is always capitalized 
    [data-splitting="chars"] {

        .word {
            .char {
                text-transform: lowercase;
            }
        }

        .word .char:first-child {
            text-transform: uppercase;
        }
    }

    .swiper-slide {
        position: relative;
        min-width: 100%;
        min-height: 100vh;
        overflow: hidden;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 0;

    }

    .slide-bg-img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        // animation: ma-scale 24s linear alternate-reverse 0s infinite both;

        .overlay-color {
            z-index: 0;
        }

    }

    .pre-title {
        transform: translateY(-1rem);
        visibility: hidden;
        opacity: 0;
        @include ma-transition;
        transition-delay: .3s;
    }

    .slide-title {
        @extend %hero-title-rules;

        display: inline-block;
        transform: translateY(3rem);
        visibility: hidden;
        opacity: 0;
        @include ma-transition(all, .8s);
        transition-delay: .5s;
    }

    .slide-subtitle {
        @extend %hero-subtitle-rules;

        transform: translateY(3rem);
        visibility: hidden;
        opacity: 0;
        @include ma-transition;
        transition-delay: .8s;


    }

    .cta-links-area {
        transform: translateY(3rem);
        visibility: hidden;
        opacity: 0;
        @include ma-transition;
        transition-delay: 1s;
    }


    .slider-stacked-arrows {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        #{$end-direction}: 3rem;
        z-index: 11;

        .swiper-button-prev,
        .swiper-button-next {
            position: static;
            margin: .25rem 0;
            transform: none;
        }

        @include screen-md {
            bottom: 1rem;
            top: auto;
            width: 100%;
            transform: none;
            #{$start-direction}: 0;
            padding: 0 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        @include adding-arrows-styling;
        background: rgba($white-clr, .35);
        color: $white-clr;
        outline: none;
        top: 50%;
        transform: translateY(-50%);

        &:hover {
            background: rgba($main-clr, .85);
        }

        @include screen-md {
            bottom: 1rem;
            top: auto;
            transform: none;
        }

        @include screen-xs {
            display: none;
        }

    }

    .swiper-button-prev {
        #{$start-direction}: 3rem;
        #{$end-direction}: auto;

        @include screen-md {
            #{$start-direction}: 10px;
        }


    }

    .swiper-button-next {
        #{$end-direction}: 3rem;
        #{$start-direction}: auto;

        @include screen-md {
            #{$end-direction}: 10px;
        }


    }

    .swiper-pagination-fraction {
        width: auto;
        #{$end-direction}: 3rem;
        #{$start-direction}: auto;
        bottom: 4rem;
        font-size: 2rem;
        line-height: 1;
        color: rgba($white-clr, .65);



        @include screen-md {
            width: auto;
            #{$start-direction}: 50%;
            #{$end-direction}: auto;
            transform: translateX(-50% * $x-axe-direction);
            background: transparent;
            font-size: 1rem;
            bottom: 1rem;

        }

        .swiper-pagination-current,
        .swiper-pagination-total {
            display: inline-block;
            font-weight: 700;

            @include screen-md {

                font-size: 1.5rem;
            }
        }

        .swiper-pagination-current {
            font-size: 4rem;
            font-weight: 900;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 1px;
            -webkit-text-stroke-color: rgba($white-clr, 1);


            @include screen-md {
                font-size: 3rem;
            }
        }


    }

    .slides-state {
        position: absolute;
        #{$start-direction}: 50%;
        transform: translateX(-50% * $x-axe-direction);
        bottom: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 11;

        .slide-num {
            width: 3rem;
            height: 3rem;
            text-align: center;
            color: $white-clr;
            font-size: 2rem;
            @include ma-transition;


            @include screen-xs {
                display: none;
            }

            &.slides-count {
                opacity: .5;
            }
        }

        .swiper-pagination {
            position: static;
            margin: 0 1rem;
            display: flex;
            align-items: center;

        }

        .swiper-pagination-bullet {
            width: 3rem;
            height: .5rem;
            display: inline-block;
            border-radius: 2rem;
            background-color: $white-clr;
            @include ma-transition;

            &.swiper-pagination-bullet-active {
                background-color: $main-clr;
            }

            &:not(:last-child) {
                margin-#{$end-direction}: .5rem !important;

            }
        }

        &.v-align {

            @media (min-width:768px) {
                #{$end-direction}: -3rem;
                #{$start-direction}: auto;
                transform: rotate(90deg) translateY(-50%);
                top: 50%;
                bottom: auto;

                .slide-num {
                    transform: rotate(-90deg);
                }
            }
        }
    }





    .swiper-slide-active {

        .pre-title,
        .slide-title,
        .slide-subtitle,
        .cta-links-area {
            transform: translateY(0);
            visibility: visible;
            opacity: 1;
        }

        .slide-title[data-splitting="words"] {

            .word {
                opacity: 0;
                /*only on fade family animations*/
                animation: fadeInLeft 1s both ease;
                animation-delay: calc(.1s + (.1s * var(--word-index)));
            }
        }


        .slide-title[data-splitting="chars"] {
            $anim-delay: calc(.1s + (.06s * var(--char-index)));

            .char {
                // opacity: 0;  /*only on fade family animations*/
                animation: rollIn .35s both ease;
                animation-delay: $anim-delay;
            }

            &.anim-fade-in-down {
                .char {
                    opacity: 0;
                    animation: fadeInDown .35s both ease;
                    animation-delay: $anim-delay;

                }
            }

            &.anim-fade-in-up {
                .char {
                    opacity: 0;
                    animation: fadeInUp .35s both ease;
                    animation-delay: $anim-delay;

                }
            }

            &.anim-rotate-in {
                .char {
                    animation: rotateIn .35s both ease;
                    animation-delay: $anim-delay;

                }
            }


        }


    }


    &.off-grid-text {

        &:before {
            content: '';
            width: 100%;
            height: 65%;
            background-color: rgba($dark-blue-clr, .5);
            position: absolute;
            top: 50%;
            #{$start-direction}: 0;
            transform: translateY(-50%);


        }

        .overlay-photo-image-bg {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            opacity: .05;
            z-index: 1;
            width: 100%;
            height: 65%;
            top: 50%;
            #{$start-direction}: 0;
            transform: translateY(-50%);
        }


        .slide-bg-img {
            width: 65%;
            min-width: 65%;
            #{$start-direction}: auto;
            #{$end-direction}: 0;
        }
    }

    &.slider-parallax {
        .pre-title {
            transition-delay: .6s;
        }

        .slide-title {
            // transition-delay: 1s;

            @extend %hero-title-rules;

            display: inline-block;
            transform: translateY(0);
            visibility: visible;
            opacity: 1;


        }

        .slide-subtitle {
            transition-delay: 1.1s;
        }

        .cta-links-area {
            transition-delay: 1.3s;
        }
    }
}

// Start inner pages hero section

.inner-page-hero {
    height: 60vh;
    min-height: 60vh;

    .hero-text-area {
        text-align: center;

    }


}

// End internal pages hero section


@keyframes ma-scale {


    50% {
        transform: scale(1.2);
    }


}