 $bar-top-1-height:40px;
 $bar-top-2-height:90px;
 $link-height:80px;
 $padding-for-hero-section : $link-height;

 %headermain-rules {
   position: fixed;
   top: 0;
   #{$end-direction}: 0;
   #{$start-direction}: 0;
   z-index: 1030;
   @include ma-transition();

   .social-icons {


     .sc-flat {
       @include screen-lg {
         padding: 1rem 0;
       }
     }

     .sc-item {
       font-size: 1rem;
       margin: 0;
       margin-#{$end-direction}: 1.5rem;

       &:last-of-type {
         margin-#{$end-direction}: 0;
       }
     }

     .sc-icon {
       color: $white-clr !important;

       &:hover {
         transform: translateY(-3px);
       }

       @include screen-lg {
         color: $main-clr !important;
         font-size: 1.25rem;
       }
     }


   }


   .controls-box {
     display: flex;
     align-items: center;

     .control {
       margin-#{$end-direction}: 1rem;
       width: 2rem;
       height: 1.5rem;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: space-around;
       z-index: 100;
       cursor: pointer;
       @include ma-transition();

       &:last-child {
         margin-#{$end-direction}: 0;
       }

     }

     .header-search-btn {
       display: flex;

       .icon {
         color: $white-clr;
         font-size: 1.5rem;
         @include ma-transition();
       }
     }

     .menu-toggler {
       margin-#{$end-direction}: 1rem;
       display: none;

       &>span {
         width: 30px;
         height: 2px;
         border-radius: 1px;
         background-color: $white-clr;
         @include ma-transition();
       }

       @include screen-lg {
         display: flex;
       }

     }

     /* navbar open btn icon rules  */
     .close-menu {

       span:nth-child(1) {
         transform: rotate(225deg) translateY(-9px);
       }

       span:nth-child(2) {
         display: none;
       }

       span:nth-child(3) {
         transform: rotate(-45deg) translateY(-9px);
       }
     }

     .info-toggler {
       display: none;

       &>span {
         position: relative;
         width: 4px;
         height: 4px;
         border-radius: 50%;
         background-color: $white-clr;

         &::before,
         &::after {
           content: '';
           position: absolute;
           width: inherit;
           height: inherit;
           border-radius: inherit;
           background-color: inherit;

         }

         &::before {
           #{$start-direction}: -.5rem;
           #{$end-direction}: auto;
         }

         &::after {
           #{$end-direction}: -.5rem;
           #{$start-direction}: auto;
         }

       }

       @include screen-lg {
         display: flex;
       }

     }
   }

   .header-cta-btn {
     color: $white-clr;
     background-color: transparent;
     border: 2px solid $white-clr;
     padding: .5rem 1.5rem;
     @include ma-transition(all, .3s);

     &:hover {
       color: $main-clr;
       background-color: $white-clr;
     }

     @include screen-lg {
       display: none;
     }
   }

   .bar-top {
     height: $bar-top-1-height;
     display: flex;
     align-items: center;
     background-color: $main-clr;
     @include ma-transition();

     @include screen-lg {
       height: 0;
       border-bottom: none;
     }
   }


   .bar-bottom {
     border-bottom: 1px solid transparent;

     @include screen-lg {
       background-color: $main-clr;
     }

     .menu-navbar {
       display: flex;
       align-items: center;
       justify-content: space-between;
       padding: 0;

       @include screen-lg {
         height: $link-height;
       }
     }
   }




   .menu-wrapper {
     @include screen-lg {
       position: fixed;
       #{$end-direction}: -100%;
       width: 100%;
       height: 100%;
       top: $link-height;
       @include ma-transition();

     }
   }


   .bar-top-group {

     .info-panel {
       @include screen-lg {
         #{$end-direction}: -100%;

         &.show {
           #{$end-direction}: 0;
         }
       }

       .info-title {
         display: none;

         @include screen-lg {
           display: block;

           font-size: 1.25rem;
           font-weight: 900;
           margin-bottom: .5rem;
           text-transform: capitalize;
           color: $semi-dark-blue-clr;
         }
       }

       .info-list {
         display: flex;
         align-items: center;
         justify-content: space-between;
         margin: 0;

         .close-icon {
           display: none;
         }

         .info-list-inner {
           display: flex;
           align-items: center;
           margin: 0;

           @include screen-lg {
             flex-direction: column;
             align-items: flex-start;
             margin-bottom: 2rem;
           }
         }



         @include screen-lg {
           flex-direction: column;
           justify-content: unset;
           align-items: flex-start;
           position: absolute;
           #{$end-direction}: 0;
           top: 0;
           padding: 3rem 1.5rem;
           background-color: $white-clr;
           width: 50%;
           height: calc(100% - #{$link-height});
           overflow: auto;
           overflow-x: hidden;
           z-index: 1;

           .close-icon {
             display: flex;
             align-items: center;
             justify-content: center;
             position: absolute;
             top: 2rem;
             #{$end-direction}: 2rem;
             #{$start-direction}: auto;
             width: 40px;
             height: 40px;
             border-radius: 50%;
             font-size: 1.5rem;
             background: $main-clr;
             color: $white-clr;
             cursor: pointer;
           }
         }

         @include screen-sm {
           width: 75%;
         }
       }

       .info {
         display: flex;
         align-items: center;

         &:not(:last-child) {
           margin-#{$end-direction}: 2.5rem;
         }


         @include screen-lg {
           padding: 1rem 0;
           align-items: flex-start;

           &:not(:last-child) {
             margin-#{$end-direction}: 0;
           }
         }

         &.info-panel-logo {
           display: none;

           @include screen-lg {
             display: flex;
             flex-direction: column;
             align-items: flex-start;
             margin-bottom: 2rem;


             .logo {
               width: 65%;
               margin-bottom: 3rem;

               .logo-img {
                 max-width: 100%;
                 height: auto;
               }
             }


           }
         }
       }

       .info-text {
         display: flex;
         align-items: center;
         font-size: 15px;
         color: $white-clr;
         @include ma-transition(all, .3s);


         @include screen-lg {
           flex-direction: column;
           font-size: 1rem;
           color: $dark-blue-clr;
           opacity: .75;
         }
       }

       .info-icon {
         margin-#{$end-direction}: .5rem;
         line-height: 1;
         flex-shrink: 0;
         color: $white-clr;

         @include ma-transition(all, .3s);

         .icon {
           font-size: 1.25rem;

           @include screen-lg {
             color: $main-clr;
           }
         }
       }

       .text {
         margin: 0;
       }

       .sub-text {
         display: none;

       }

       .info-link {
         color: inherit;
         text-decoration: none !important;


         @include screen-lg {
           margin-#{$end-direction}: 0;
           margin-bottom: .75rem;
         }
       }
     }
   }



   .header-logo {
     display: flex;
     align-items: center;
     justify-content: center;

     .logo-img {
       display: block;
       max-width: 10rem;
       max-height: calc(#{$link-height} - 10px);
       @include ma-transition;

       &.light-logo {
         display: block;
       }

       &.dark-logo {
         display: none;
       }

     }

   }

   .links {
     margin-#{$start-direction}: auto;
     margin-#{$end-direction}: 1rem;

     @include screen-lg {
       #{$start-direction}: -100%;
       margin: 0;

       &.show {
         #{$start-direction}: 0;
       }
     }
   }

   .links-list {
     list-style: none;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     margin: 0;
     padding: 0;

     @include screen-lg {
       position: absolute;
       top: 0;
       width: 50%;
       max-height: calc(100% - #{$link-height});
       padding: 1rem 0;
       flex-direction: column;
       align-items: start;
       justify-content: unset;
       overflow: auto;
       overflow-x: hidden;
       background-color: $main-clr;
     }

     @include screen-sm {

       width: 75%;
     }

   }

   .menu-item,
   .nav-item {
     position: relative;
     padding: 0 1rem;


     @include screen-lg {
       width: 100%;
       padding: 0;
     }
   }

   .menu-link,
   .nav-link {
     position: relative;
     display: inline-flex;
     align-items: center;
     justify-content: space-between;
     width: 100%;
     text-decoration: none !important;
     color: $white-clr;
     text-transform: capitalize;
     font-size: 15px;
     font-weight: 600;
     line-height: $link-height;
     overflow: hidden;
     padding: 0;
     @include ma-transition(all, .3s);

     &::before {
       content: '';
       position: absolute;
       background-color: $white-clr;
       height: 2px;
       width: 100%;
       bottom: 25%;
       #{$start-direction}: 0;
       transform: scaleX(0);
       transform-origin: center;
       @include ma-transition(transform, .3s);
     }



     .down-Arrow-icon {
       line-height: 1;
       font-size: .65rem;
       margin-#{$start-direction}: .25rem;
     }


     &:hover,
     &.active {
       &::before {
         transform: scaleX(1);
       }

     }

     // .menu-link => small screens
     @include screen-lg {
       display: flex;
       align-items: center;
       justify-content: space-between;
       width: 100%;
       padding: .75rem 1rem;
       color: $white-clr;
       line-height: calc(#{$link-height} / 2);

       &::before {
         color: $main-clr;
         display: none;
       }

       .down-Arrow-icon {
         display: flex;
         align-items: center;
         justify-content: center;
         width: 1.25rem;
         height: 1.25rem;
         color: $white-clr;
         border: 1px solid $white-clr;
       }

     }
   }

   .has-sub-menu {
     &>.sub-menu {
       list-style: none;
       position: absolute;
       overflow-y: auto;
       top: 100%;
       min-width: 18rem;
       max-height: 75vh;
       #{$start-direction}: 0;
       margin: 0;
       padding: 1rem 0;
       transform: translateY(4rem);
       visibility: hidden;
       opacity: 0;
       z-index: 15000;
       background-color: $main-clr;
       @include ma-transition(all, .3s);

       @include screen-lg {
         position: static;
         display: none;
         visibility: visible;
         opacity: 1;
         border: none;
         box-shadow: none;
         padding: 0;
         transform: translateY(0);
         transition: none;
       }

       .sub-menu-item {
         padding: 0;
       }

       .sub-menu-link {
         line-height: unset;
         color: $white-clr;
         padding: 1rem !important;
         padding-#{$start-direction}: 1.5rem !important;




         &::before,
         &::after {
           content: '';
           background-color: $white-clr;
           @include ma-transition(all, .3s);

         }

         &::before {

           display: block;
           height: 3px;
           width: 1rem;
           #{$start-direction}: 0;
           top: 50%;
           transform: translateY(-50%) scale(0);
           transform-origin: #{$start-direction};

         }

         &::after {
           position: absolute;
           height: 100%;
           width: 4px;
           #{$end-direction}: -4px;
           #{$start-direction}: auto;

         }

         &:hover {
           padding: 1rem 1rem 1rem 2rem !important;
           padding-#{$start-direction}: 2rem !important;

           &::before {
             transform: translateY(-50%) scale(1);
           }

           &::after {
             #{$end-direction}: 0;
             #{$start-direction}: auto;
           }
         }

         @include screen-lg {
           line-height: unset;
           padding: 1rem 1rem 1rem 2rem !important;

           &:hover {
             padding: 1rem 1rem 1rem 2.5rem !important;
           }


         }
       }
     }

     &:hover {
       >.sub-menu {
         visibility: visible;
         opacity: 1;
         transform: translateY(0);
       }
     }

     .has-sub-menu {
       .sub-menu {
         top: 0;
         #{$end-direction}: 100%;
         #{$start-direction}: auto;
       }
     }


     @include screen-lg {
       &>.sub-menu {

         /*sub-menu-level-2*/
         .sub-menu {

           .sub-menu-link {
             line-height: unset;
             padding: 1rem 1rem 1rem 3rem !important;

             &:hover {
               padding: 1rem 1rem 1rem 3.5rem !important;
               color: $main-clr;
             }
           }
         }
       }
     }
   }

   &.has-dark-bg {

     .bar-top {
       background-color: $dark-blue-clr;

       .info-icon {
         .icon {
           color: $main-clr;
         }

       }

       .info-text {
         color: $white-clr;

         @include screen-lg {
           color: $semi-dark-blue-clr;

         }

       }

     }

     .social-icons {
       .sc-icon {
         color: $white-clr !important;

         @include screen-lg {
           color: $main-clr !important;
         }
       }

     }

     .bar-bottom {


       @include screen-lg {
         background-color: $dark-blue-clr;
       }
     }

     &.is-sticky {
       .bar-bottom {

         border-color: rgba($white-clr, .1);
         background-color: $dark-blue-clr !important;
       }
     }
   }

   &.is-light {

     .bar-top {
       background-color: $white-clr;

       .info-icon {
         .icon {
           color: $main-clr;
         }

       }

       .info-text {
         color: $semi-dark-blue-clr;
       }
     }

     .social-icons {
       .sc-icon {
         color: $main-clr !important;

       }

     }

     .bar-bottom {


       @include screen-lg {
         background-color: $white-clr;

         .header-logo .dark-logo {
           display: block;
         }

         .header-logo .light-logo {
           display: none;
         }

         .menu-link {
           color: $dark-blue-clr;

           &::before {
             background-color: $dark-blue-clr;
           }

           &.sub-menu-link {
             &::before {
               background-color: $main-clr;
             }
           }

         }

         .header-search-btn {

           .icon {
             color: $dark-blue-clr;
           }
         }

         .menu-toggler {

           &>span {
             background-color: $dark-blue-clr;
           }

         }

         .info-toggler {


           &>span {
             background-color: $dark-blue-clr;
           }

         }

         .header-cta-btn {
           color: $white-clr;
           background-color: $main-clr;
           border: 2px solid $main-clr;

           &:hover {
             color: $main-clr;


           }
         }
       }
     }

     &.is-sticky {
       .bar-bottom {
         border-color: rgba($dark-blue-clr, .1);
         background-color: $white-clr !important;

         .header-logo .dark-logo {
           display: block;
         }

         .header-logo .light-logo {
           display: none;
         }

         .menu-link {
           color: $dark-blue-clr;

           &::before {
             background-color: $dark-blue-clr;
           }

           &.sub-menu-link {
             &::before {
               background-color: $main-clr;
             }
           }

         }

         .header-search-btn {

           .icon {
             color: $dark-blue-clr;
           }
         }

         .menu-toggler {
           &>span {
             background-color: $dark-blue-clr;
           }
         }

         .info-toggler {
           &>span {
             background-color: $dark-blue-clr;
           }
         }

         .header-cta-btn {
           color: $white-clr;
           background-color: $main-clr;
           border: 2px solid $main-clr;

           &:hover {
             color: $main-clr;
             background-color: transparent;

           }
         }
       }
     }
   }



 }



 .header-2 {
   @extend %headermain-rules;

   &.is-sticky {

     @media(min-width:1199px) {
       top: (- $bar-top-1-height);

     }

     .bar-bottom {
       background-color: $main-clr;
     }
   }
 }


 .header-1 {
   @extend %headermain-rules;

   .bar-top {
     height: $bar-top-2-height;

     @include screen-lg {
       height: 0;
       border-bottom: none;
     }
   }

   .bar-top-group {

     .info-panel {

       .info {

         &.info-panel-logo {
           display: none;

           @include screen-lg {
             display: flex;

           }

         }

         .info-icon {

           .icon {
             font-size: 1.75rem;

             @include screen-lg {
               font-size: 1.75rem;
             }
           }
         }

         .info-text {
           flex-direction: column;
           align-items: flex-start;
         }

         .text {
           font-size: .9rem;
           font-weight: 400;
           text-transform: capitalize;
         }

         .sub-text {
           display: block;
           font-size: 1rem;
           font-weight: 700;

           @include screen-lg {
             opacity: .9;

           }
         }

       }
     }
   }

   &.is-sticky {

     @media(min-width:1199px) {
       top: (- $bar-top-2-height);
     }

     .bar-bottom {
       background-color: $main-clr;
     }
   }
 }


 .header-basic {
   @extend %headermain-rules;

   &.is-sticky {
     @media(min-width:1199px) {
       top: 0 !important;
     }

     .bar-bottom {
       background-color: $main-clr;
     }
   }

   .controls-box {

     .info-toggler {
       display: none;

     }
   }
 }

 .page-header{
  &.customized {
    .bar-bottom {
      border-top: 1px solid rgba($white-clr, .35);
      background-color: $main-clr;
      @include ma-transition();

      @include screen-lg {
        border-top: none;
      }

      .header-logo {
        .logo-img {
          max-width: 12rem;
        }
      }
    }

    &.is-sticky{
      .bar-bottom {
        border-top: 1px solid rgba($main-clr, 1);
      }
    }
  }
 }