.portfolio {
    overflow: hidden;
    position: relative;


    .portfolio-wrapper {
        overflow: hidden;
        margin-bottom: 3rem;
        margin-left: -1rem;
        margin-right: -1rem;
    }

    .portfolio-btn-list {
        list-style: none;
        padding: 0 1rem;
        margin: 0;
        margin-bottom: 1rem;
        text-transform: capitalize;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;



        .portfolio-btn {
            position: relative;
            margin: 5px;
            padding: .5rem 1rem;
            text-align: center;
            font-size: 1rem;
            font-weight: 700;
            z-index: 1;
            cursor: pointer;
            @include ma-transition(all, .3s);

            &:first-child {
                padding-#{$start-direction}: 0;
                margin-#{$start-direction}: 0;

            }

            &:last-child {
                padding-#{$end-direction}: 0;
            }

            &:not(:last-child) {
                &::before {
                    content: "";
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background-color: $main-clr;
                    position: absolute;
                    #{$start-direction}: 100%;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            &:hover,
            &.active {
                color: $main-clr;
            }
        }
    }

    .portfolio-group {
        direction: ltr; //allways  to remove littel gaps between the portfolio images
        position: relative;
    }

    .portfolio-img-link {
        position: relative;
        display: block;
        overflow: hidden;
        outline: none;
        z-index: 1;
        @include ma-transition();
    }

    .portfolio-item {
        position: relative;
        padding: .5rem;
        overflow: hidden;
        z-index: 1;

        @include screen-xs {
            padding-#{$end-direction}: 0;
        }

    }


    .item {
        overflow: hidden;
        position: relative;

        .overlay-color {
            z-index: 2;
            opacity: 0;
        }

        .portfolio-img {
            display: block;
            min-width: 100%;
            object-fit: cover;
            height: 450px;
            @include ma-transition(all, 1s, ease);
        }

        .portfolio-bg-img {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 450px;
        }

        .item-info {
            position: absolute;
            width: 100%;
            height: 100%;
            #{$start-direction}: 0;
            top: 0;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            pointer-events: none;
            z-index: 5;


            .pre-title {
                visibility: hidden;
                opacity: 0;
                transform: translateY(2rem);
                @include ma-transition();
                transition-delay: .2s;
            }

            .item-title {
                font-size: 2rem;
                font-weight: 900;

                color: $white-clr;
                padding-top: .5rem;
                text-transform: capitalize;
                visibility: hidden;
                opacity: 0;
                transform: translateY(2rem);
                clip-path: inset(0 100% 0 0);
                @include ma-transition();
                transition-delay: .5s;
            }


        }

        .icon {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 4rem;
            height: 3rem;
            background: rgba($main-clr, .8);
            color: $white-clr;
            font-size: 1.25rem;
            #{$start-direction}: 50%;
            top: 25%;
            transform: translate(-50% * $x-axe-direction, 0);
            margin: 0;
            opacity: 0;
            cursor: pointer;
            z-index: 5;
            @include ma-transition(all, .25s);
        }

        &:hover {

            .overlay-color {
                opacity: .65;
            }


            .item-info {
                .pre-title {
                    visibility: visible;
                    opacity: 1;
                    transform: translateY(0);
                }


                .item-title {
                    text-transform: capitalize;
                    visibility: visible;
                    opacity: 1;
                    clip-path: inset(0 0 0 0);

                    transform: translateY(0);
                }
            }
        }
    }



    .swiper-slide-active {
        .overlay-color {
            opacity: .65;
        }


        .item-info {
            .pre-title {
                visibility: visible;
                opacity: 1;
                transform: translateY(0);
                clip-path: inset(0 0 0 0);
            }


            .item-title {
                text-transform: capitalize;
                visibility: visible;
                opacity: 1;
                transform: translateY(0);
                clip-path: inset(0 0 0 0);

            }
        }
    }



    &-grid-rounded {
        .item {
            border-radius: .5rem;
            overflow: hidden;
        }

    }

    &-blocks {
        .item {
            border-radius: 0;
            overflow: hidden;
        }

    }

    &-grid-no-gaps {
        // .portfolio-item {
        //     padding: 0;
        //     margin-bottom: 0;
        // }



        .item {
            border-radius: 0;
            overflow: hidden;
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        //overriding swiper rules

        @include adding-arrows-styling;

        // @include screen-sm {
        //     top: auto;
        //     bottom: 1rem;
        // }


    }




}

.portfolio-slider {



    .item {
        .portfolio-bg-img {
            height: 500px;

            @include screen-sm {
                height: 400px;
            }
        }
    }



}