%bg-img-section {

	.overlay-photo-image-bg,
	.overlay-color {

		#{$end-direction}: 0;
		#{$start-direction}: auto;

		@include screen-md {
			width: 100%;
		}
	}

	.overlay-color {
		opacity: .65 !important;
	}

}


%testimonial-content {
	background: $dark-blue-clr;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: #{$start-direction};
	width: 100%;
	margin: 0 auto;
	padding: 4rem;
	border: 1px solid rgba($secondary-clr, .5);
	border-bottom: .25rem solid $secondary-clr;

	@include screen-xs {
		flex-direction: column;
		align-items: start;

	}

	.content {
		margin-bottom: 1rem;
	}


	.testimonial-text {
		font-size: 1.25rem;
		font-weight: 500;
		line-height: 1.7;
		font-style: italic;
		color: $white-clr;
		padding: 0;
		margin: 0;

		@include screen-md {
			font-size: 1.15rem;
		}

	}

	.customer-testimonial {
		position: relative;

		@include screen-sm {
			padding: 0;
		}
	}

	.icon {
		position: absolute;
		bottom: -3rem;
		#{$end-direction}: 2rem;
		#{$start-direction}: auto;
		display: block;
		font-size: 6rem;
		opacity: .2;
		color: $main-clr;
		transform: scaleX(-1 * $x-axe-direction);


	}

	.customer-info {
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-shrink: 0;
		justify-content: center;

		img {
			width: 4.5rem;
			height: 4.5rem;
			border-radius: 50%;
			margin-bottom: .75rem;
			border: 3px solid $main-clr;
		}

		.customer-details {
			display: inline-block;
			text-align: center;

			.customer-name,
			.customer-role {
				text-transform: capitalize;
				font-weight: 600;
				margin-bottom: 0;
				padding-top: 0;
				padding-bottom: 0;

			}

			.customer-name {
				font-size: 1.15rem;
				font-weight: 700;
				color: $white-clr;
			}

			.customer-role {
				font-size: 1rem;
				color: $white-clr;
				opacity: .75;

			}
		}

	}
}




.testimonials {

	.swiper-container {
		margin-bottom: 3rem;
		padding: 4rem 0;
	}

	&.testimonials-2-col {

		.swiper-container {

			margin-bottom: 0;

			@include screen-md {
				margin-bottom: 3rem;
			}
		}

	}

	&.off-grid {

		.swiper-container {

			margin-bottom: 0;

			@include screen-md {
				margin-bottom: 3rem;
			}
		}

		&.bg-img-section {
			@extend %bg-img-section;

			.overlay-photo-image-bg,
			.overlay-color {

				width: 50%;

				@include screen-md {
					width: 0;

				}
			}
		}

		.testmonial-card {
			.testimonial-content {
				@extend %testimonial-content;
				padding: 4rem 2rem;

				.customer-info {
					flex-direction: column;
					padding: 0 2rem;
					text-align: center;

					@include screen-sm {
						margin-bottom: 1.5rem;

					}

					@include screen-xs {
						flex-direction: row;
						text-align: #{$start-direction};
					}

					&::before {
						content: '';
						position: absolute;
						width: 2px;
						height: 80%;
						top: 50%;
						transform: translateY(-50%);
						background-color: $main-clr;
						border-radius: 1rem;
						#{$end-direction}: 0;

						@include screen-xs {
							display: none;
						}
					}

					img {

						@include screen-xs {
							margin-#{$end-direction}: 1rem;
						}

					}

				}

				.customer-testimonial {
					padding: 0 2rem;
				}

			}
		}


	}


	&.stack {

		&.bg-img-section {
			@extend %bg-img-section;

			.overlay-photo-image-bg,
			.overlay-color {

				width: 50%;

				@include screen-md {
					width: 0;

				}
			}

			// .overlay-color {
			// 	opacity: .85 !important;
			// }
		}

		.testmonial-card {

			.testimonial-content {
				@extend %testimonial-content;

				flex-direction: column;
				align-items: start;

				.customer-info {
					margin-bottom: 1.5rem;

					img {
						margin-#{$end-direction}: 1rem;
					}



					.customer-details {
						text-align: #{$start-direction};

					}
				}
			}
		}
	}

	&.testimonials-3-col {
		&.bg-img-section {
			@extend %bg-img-section;

			.overlay-photo-image-bg,
			.overlay-color {

				width: 100%;
				height: 65%;
				top: 0;

				@include screen-md {
					width: 0;

				}
			}

		}
	}

	// &.dark-cards {
	// 	.testmonial-card {
	// 		.testimonial-content {
	// 			background: $dark-blue-clr;
	// 		}

	// 		.customer-info {
	// 			img {
	// 				border: 3px solid $main-clr !important;
	// 			}
	// 		}

	// 		.testimonial-content {
	// 			border: 1px solid rgba($main-clr, .35);
	// 			border-bottom: .25rem solid $main-clr;

	// 			.icon {
	// 				color: $main-clr;
	// 			}
	// 		}

	// 		.rating-stars {
	// 			margin-bottom: 1rem;

	// 			.star-icon {
	// 				color: $main-clr;

	// 				&.off {
	// 					-webkit-text-stroke-color: $main-clr;
	// 				}
	// 			}
	// 		}

	// 	}


	// }


	//custom positions to testimonials slider arrows  
	.swiper-button-prev,
	.swiper-button-next {
		@include adding-arrows-styling;
		//custom positions to testimonials slider arrows  
		top: 0;
		bottom: auto;
		margin-top: 0;
		background-color: transparent;
		color: $main-clr;

		&:hover {
			background-color: $main-clr;
			color: $white-clr;
		}

	}

	&.has-dark-bg {

		.swiper-button-prev,
		.swiper-button-next {

			background-color: $secondary-clr;
			color: $white-clr;

			&:hover {
				background-color: $main-clr;
				// color: $dark-blue-clr;
			}

		}
	}

	&.has-main-color-bg {

		.swiper-button-prev,
		.swiper-button-next {

			background-color: transparent;
			color: $white-clr;

			&:hover {
				background-color: $semi-dark-blue-clr;
			}

		}
	}

	.swiper-button-prev {
		#{$end-direction}: 0;
		#{$start-direction}: auto;
		transform: translateX(-100% * $x-axe-direction);

	}

	.swiper-button-next {
		#{$end-direction}: 0;
		#{$start-direction}: auto;

	}


	&.testimonials-3d {
		background-color: $dark-blue-clr !important;
		background-color: $dark-blue-clr;

		.swiper-slide {
			width: 400px;
			filter: blur(4px);

			@include screen-md {
				width: 360px;
			}

			@include screen-xs {
				width: 320px;
			}

		}

		.swiper-slide-active {
			filter: blur(0);
		}
	}

}